
:root {
    --red: hsl(0, 100%, 68%);

    --very-dark-blue:hsl(230, 29%, 20%);
    --dark-grayish-blue:hsl(230, 11%, 40%);
    --grayish-blue:hsl(231, 7%, 65%);
    --light-grayish-blue:hsl(207, 33%, 95%);
  }
*{
    font-family: 'Barlow', sans-serif;
    
}
body{
    margin: 0;
}

.heading{
    
    font-family: 'Barlow Condensed', sans-serif;
}
.nav-dot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--grayish-blue);
    border-radius: 2rem;

}
.landing-content,  section.landing nav, ul.collapse-wrapper, .label{
    display: flex;
}
section.landing nav {
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 6% 0;
}
ul.collapse-wrapper{
    list-style: none;
    margin-right:8%;
    align-items: center;
}
ul.collapse-wrapper li{
    padding: 0 1.8rem;
    text-transform: uppercase;
    
}
.collapse-wrapper li a{
    color: var(--very-dark-blue);
    font-weight: 700;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.05rem;

}
.collapse-wrapper li a:hover{
    text-decoration: underline;
}
ul  li:last-child a{
    color: var(--dark-grayish-blue);
}

/* landing */
.label{
    align-items: center;
}
.label .new-tag{
    color: var(--light-grayish-blue);
    border-radius: 5rem;
    background-color: var(--very-dark-blue);
    width: max-content;
    height: max-content;
    padding: 5px 15px;
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.label h4 {
    margin-left: 24px;
    color: var(--grayish-blue);
    letter-spacing: 0.1rem;
}

h1{
    font-size: 4.2rem;
    margin: 1.6rem 0;
    color: var(--very-dark-blue);
    letter-spacing: 0.1rem;
}
p{
    color: var(--dark-grayish-blue); 
    font-size: 18px; 
    max-width: 64%;
    margin: 11% 0;
    
}

button{
    background-color: var(--red);
    color: var(--light-grayish-blue);
    border: 0;
    padding: 15px 24px;
    font-size: 18px;
    border-radius: 4px;
}
span {
    margin-left: 21px;
    color: var(--grayish-blue);
    letter-spacing: 0.1rem;
}

.text {
    max-width: 50%;
}
.landing{
  padding:  2% 0 0% 8%;
    position: relative;
}
.bg-container{
    position: absolute;
    height: 62%;
    width: 47%;
    background-color: var(--light-grayish-blue);
    z-index: -1;
    border-bottom-left-radius: 32px;
    top: -2%;
    right: 0;
} 


.image {
    max-width: 50%;
    overflow: hidden;
}
.toggle-btn{ 
    display: none;
    padding: 8px;
    background-color: transparent;
    border: none;
}
#toggleBtn{
background-image: url('/images/icon-hamburger.svg');
background-repeat: no-repeat;
width: 24px;
height: 24px;
}

@media screen and (max-width:600px){
    .toggle-btn{
        display: block;
    }
    .collapse-items{
        display: none ;
    }
    .responsive {position: relative;}
    .responsive button.toggle-btn {
        z-index: 1;
        display: block;
    }

    .responsive {position: relative;}
    .responsive .collapse-items{
      display: block;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      min-width: 100%;
      top: 45px;
      height: 40vh;
      background-repeat: no-repeat;
    }
    .responsive .opened#toggleBtn{
        background-image: url('/images/icon-close.svg');
    }
    ul.collapse-wrapper{
       display: block;
       text-align: center;
       margin: 0;
       padding: 5%;
        }
        .nav-dot{
            width: 100%;
            height: 2px;
            background-color: var(--grayish-blue);        
        }
        ul.collapse-wrapper li{
            padding: 0.9rem 0;
        }
    .landing-content{
        flex-direction: column-reverse;
    }

    .bg-container{
        height: 64vh;
        width: 40%;
        right: 0;
    } 
    .image img {
        height: 40vh;
    }
    .image{
        max-width: unset;
    }
    .text{
        max-width: unset;
        padding: 16%  0;
    }
  }