
:root {
    --red: hsl(0, 100%, 68%);

    --very-dark-blue:hsl(230, 29%, 20%);
    --dark-grayish-blue:hsl(230, 11%, 40%);
    --grayish-blue:hsl(231, 7%, 65%);
    --light-grayish-blue:hsl(207, 33%, 95%);
  }
*{
    font-family: 'Barlow', sans-serif;
    
}

.heading{
    
    font-family: 'Barlow Condensed', sans-serif;
}
.nav-dot{
    width: 1rem;
    height: 1rem;
    background-color: var(--grayish-blue);
    border-radius: 2rem;

}
.landing-content,  section.landing nav, ul.collapse-wrapper, .label{
    display: flex;
}
section.landing nav {
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 6% 0;
}
ul.collapse-wrapper{
    list-style: none;
}
ul.collapse-wrapper li{
    padding: 0 7%;
    text-transform: uppercase;
    
}
.collapse-wrapper li a{
    color: var(--very-dark-blue);
    font-weight: 700;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}
ul  li:last-child a{
    color: var(--dark-grayish-blue);
}

/* landing */
.label{
    align-items: center;
}
.label .new-tag{
    color: var(--light-grayish-blue);
    border-radius: 5rem;
    background-color: var(--very-dark-blue);
    width: max-content;
    height: max-content;
    padding: 5px 15px;
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.label h4 {
    margin-left: 24px;
    color: var(--grayish-blue);
}

h1{
    font-size: 4.2rem;
    margin: 1.6rem 0;
    color: var(--very-dark-blue);
}
p{
    color: var(--dark-grayish-blue); 
    font-size: 18px; 
    max-width: 64%;
    margin: 11% 0;
}

button{
    background-color: var(--red);
    color: var(--light-grayish-blue);
    border: 0;
    padding: 15px 24px;
    font-size: 18px;
    border-radius: 4px;
}
span {
    margin-left: 21px;
    color: var(--grayish-blue);
}

.text {
    max-width: 50%;
}
.landing{
  padding:  2% 0 0% 8%;
}